/*Cabecalho - Botões*/

.btn-projetos {
    left: 5vw;
    top: 75vh;
    width: 42.5vw;
}

.btn-sobre {
    left: 55vw;
    top: 75vh;
    width: 42.5vw;
}

#btn-contato{
    display: none;
}

.btn-projetos-sobre {
    left: 27.5vw;
    top: 80vh;
}

.btn-sobre-sobre {
    left: 52vw;
    top: 80vh;
}

/* Home - Cabeçalho Animaçoes de entrada */

.anima-btn {
    animation:
        aparece 11.5s step-end normal;
}

.anima-btn-sobre {
    animation:
        aparece 5.7s step-end normal,
        digitando-botao-sobre 1s steps(60) 5.7s normal;

}

.anima-btn_projetos {
    animation:
        aparece 11s step-end normal;
}

.anima-btn_projetos-sobre {
    animation:
        aparece 4s step-end normal,
        botao-digito 500ms steps(20) 14,
        digitando-botao 4.5s steps(60) 4s normal;
}

.anima_rede-social {
    animation:
        aparece 14.7s step-end normal;
}

.anima_rede-social-sobre {
    animation:
        aparece 12s ease-in normal;
}


/* Rede Sociais */

.rede-social {
    margin-left: 28vw;
    margin-top: 33vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.rede-social-sobre {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

img.rede-social-item {
    margin-right: 10px;
    height: 7vw;
}

img.rede-social-item-sobre {
    margin-right: 10px;
    height: 80px;
}

img.rede-social-item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

img.rede-social-item-sobre:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.centro-sobre {
    margin-left: 23.5vw;
    margin-right: auto;
}

@media screen and (min-width: 768px){

    #btn-contato{
        display: flex;
    }
     
    .btn-projetos {
        left: 10vw;
        top: 82.5vh;
        width: auto;
    }
    
    .btn-sobre {
        left: 37.5vw;
        top: 82.5vh;
        width: auto;
    }
    
    .btn-rede-sociais {
        display: block;
        left: 60vw;
        top: 82.5vh;
    }
    
    .btn-projetos-sobre {
        left: 27.5vw;
        top: 82.5vh;
    }
    
    .btn-sobre-sobre {
        left: 52vw;
        top: 82.5vh;
    }

    .anima-btn {
        animation:
            aparece 12.9s step-end normal,
            digitando-botao-sobre 1s steps(60) 12.9s normal;
    
    }

    .anima-btn-sobre {
        animation:
            aparece 5.7s step-end normal,
            digitando-botao-sobre 1s steps(60) 5.7s normal;
    
    }

    .anima-btn_projetos {
        animation:
            aparece 11s step-end normal,
            botao-digito 500ms steps(20) 30,
            digitando-botao 4.5s steps(60) 11s normal;
    }

    .rede-social {
        margin-left: 72vw;
        margin-top: 20.5vh;
        display: flex;
        flex-direction: row;
        z-index: 1;
    }

    img.rede-social-item {
        margin-right: 10px;
        height: auto;
    }

    .anima-btn_contato {
        animation:
            aparece 14.5s step-end normal,
            digitando-botao-sobre 1s steps(60) 14.5s normal;
    }
}