/*Cabecalho - Botões*/

.btn-projetos {
    left: 10vw;
}

.btn-sobre {
    left: 37.5vw;
}

.btn-rede-sociais {
    left: 60vw;
}


.btn-projetos-sobre {
    left: 27.5vw;
}

.btn-sobre-sobre {
    left: 52vw;
}

/* Home - Cabeçalho Animaçoes de entrada */

.anima-btn {
    animation:
        aparece 12.9s step-end normal,
        digitando-botao-sobre 1s steps(60) 12.9s normal;

}

.anima-btn-sobre {
    animation:
        aparece 5.7s step-end normal,
        digitando-botao-sobre 1s steps(60) 5.7s normal;

}

.anima-btn_projetos {
    animation:
        aparece 11s step-end normal,
        botao-digito 500ms steps(20) 30,
        digitando-botao 4.5s steps(60) 11s normal;
}

.anima-btn_projetos-sobre {
    animation:
        aparece 4s step-end normal,
        botao-digito 500ms steps(20) 14,
        digitando-botao 4.5s steps(60) 4s normal;
}

.anima-btn_contato {
    animation:
        aparece 14.5s step-end normal,
        digitando-botao-sobre 1s steps(60) 14.5s normal;
}

.anima_rede-social {
    animation:
        aparece 14.7s step-end normal;
}

.anima_rede-social-sobre {
    animation:
        aparece 12s ease-in normal;
}


/* Rede Sociais */

.rede-social {
    margin-left: 70vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.rede-social-sobre {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

img.rede-social-item {
    margin-right: 10px;
}

img.rede-social-item-sobre {
    margin-right: 10px;
    height: 80px;
}

img.rede-social-item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

img.rede-social-item-sobre:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.centro-sobre {
    margin-left: 24vw;
    margin-right: auto;
}