
.projeto-1-completo{
    align-items: center;
    background-color: #d1d1d1;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    height: 89vh;
    justify-content: center;
    position: fixed;
    width: 80vw;
    z-index: 5;
    margin-top: -88.5vh;
    margin-left: 9.5vw;
}

.projeto-2-completo{
    align-items: center;
    background-color: #d1d1d1;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    height: 89vh;
    justify-content: center;
    position: fixed;
    width: 80vw;
    z-index: 5;
    margin-top: -88.5vh;
    margin-left: 9.5vw;
}

.projeto-3-completo{
    align-items: center;
    background-color: #d1d1d1;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    height: 89vh;
    justify-content: center;
    position: fixed;
    width: 80vw;
    z-index: 5;
    margin-top: -88.5vh;
    margin-left: 9.5vw;
}

.projeto-img{
    max-width: 400px;
    max-height: 200px;
    top: 18vh;
    position: fixed;
}

.projeto-completo-titulo{
    display: flex;
    margin-top: 20vh;
    font-size: 2rem;
    margin-bottom: 5vh;
    text-shadow: 0 0 10px #ffffff, 0 0 15px #1c1c1c;
}

.projeto-completo-tx{
    display: flex;
    text-align: center;  
    font-size: 1.2rem;
    line-height: 1.5rem;
}
