:root {
    --branco: #FFFFFF;
    --verde-claro: #8FF7D0;
    --verde-medio: #1CF7A5;
    --verde-escuro: #38A079;
    --cinza: #5F5F5F;

    --preto-fonte: #2B2B2B;

    --fonte-tamanho-titulo: 1.5rem;
    --fonte-tamanho-paragrafo: 1rem;

    --tamanho-caixa-home-banner-apresentacao-titulo: 28vw;
    --tamanho-caixa-home-banner-apresentacao-subtitulo: 65vw;
    --tamanho-caixa-home-banner-apresentacao-botao: 15rem;

    --fonte-familia-padrao: 'Special Elite', cursive;
    ;
}

body {
    background: #1a1a1a;
    font-family: var(--fonte-familia-padrao);
}

.ajuste-sobre {
    position: fixed;
    top: -30vh
}

.centro-sobre {
    margin-left: 10vw;
    margin-right: auto;
}

@media screen and (min-width: 768px){

    :root {
        --fonte-tamanho-titulo: 2.5rem;
        --fonte-tamanho-paragrafo: 1.8rem;
    }
}